body{
    margin: 0px;
}
/* Body header */

#body-header{
    height: 56vh;
    background-image: url(images/header.jpg);
    background-position: center;
    background-size: cover;
    opacity: 0.8;
    background-attachment: fixed;
}

/* Horizontal Lines */
.horizontal-list{
    list-style: none;
    padding-left: 0px;
}
.horizontal-list li{
    display: inline-block;
    margin: 0px 8px 8px 0px;
}
.horizontal-list a{
    color: rgb(2, 0, 0);
    text-decoration: none;    
}
.nav-menu li a{
    transition: color 0.5s, border-bottom 2s;
}
.nav-menu li a:hover{
    color: red;
    border-bottom: 1px solid white;
}
.text-center{
    text-align: center;
}
#name-social-container{
    margin-top: 17vh;
}
#my-name{
    font-size: 3rem;
    letter-spacing: 0.1rem;
    color: black;
    font-weight: 700;
    margin-bottom: 0.5rem;
}
.social-icon li a img{
    padding: 10px;
    font-size: 2rem; 
    border-radius: 50%;
}
.social-icon li a img:hover{
    transition: 0.4s;
    box-shadow: 0px 0px 10px 1px rgba(124, 193, 216, 0.878);
}
/* Section About Me */
#about{
    height:auto;
    width: 100%;
    position: relative;
    
}
#my-profile{
    height: 12rem;
    width: 12rem;
    margin: auto;
    margin-top: -12vh;
}
#my-profile img{
    height:100%;
    width: 100%;
    border-radius: 50%;
    margin: auto;
    border: 5px solid rgb(252, 252, 252);
    box-shadow: 0px 0px 4px 2px rgba(6, 6, 5, 0.4);
    
}
#about-para{
    margin: 100px;
    text-align: justify;
}
section{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10%;

}
section:nth-child(2n){
    background-color: white;
}
section:nth-child(2n+1){
    background-color:rgb(216, 216, 215);
}

.section-heading{
    width: auto;
    padding: 20px 10px 10px;
    font-weight: 400;

}
.section-heading span{
   font-size: 40px;
    display: inline-block;
    color: #2857a4;
    padding-top: 10%;
    margin-right: 0.5rem;
}
#skills{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.skill-bar{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 2rem;
    column-gap: 10%;

}
.bar{
    width:8rem;
    border-radius:20px ;
    border:2px solid black;
    margin: 2px;
    box-shadow: 2px 2px rgb(66, 63, 63);
}
.skill-name span{
    padding: 10%;
    color: white;
}
.bar>div{
    padding: 2px;
    margin: 1px;
}
#c {
    width:75%;
    height: inherit;
    border-radius: 20px 0px 0px 20px ;
    background-color: rgb(6, 90, 90);    
}
#java {
    width:80%;
    height: inherit;
    border-radius: 20px 0px 0px 20px ;
    background-color: rgb(196, 52, 157);    
}
#Python {
    width:80%;
    height: inherit;
    border-radius: 20px 0px 0px 20px ;
    background-color: rgb(207, 84, 84);    
}
#AWS {
    width:60%;
    height: inherit;
    border-radius: 20px 0px 0px 20px ;
    background-color: rgba(56, 160, 82, 0.587);    
}
#css {
    width:85%;
    height: inherit;
    border-radius: 20px 0px 0px 20px ;
    background-color: rgba(44, 9, 69, 0.587);    
}
#html {
    width:85%;
    height: inherit;
    border-radius: 20px 0px 0px 20px ;
    background-color: rgba(44, 9, 69, 0.587);    
}
/* CONTACT DETAILS */

#contact{
    
    background-image: linear-gradient(30deg,#2857a4 20%,#403066);
    color: white ;
}
#contact h1 span{
    color: #ffffff;
}
#contact-box{
    display: flex;
    flex-direction: row;
    width: 70%;
    align-items: center;
    /* border: 1px solid black; */
    
}
#left{
    height: inherit;
    text-align: center;
    width: 50%;
    /* border: 1px solid red; */
}
#right{
    margin: 10% 0%;
    width: 50%;
    /* border: 1px solid salmon; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
form input{
    width: 70%;
    border: none;
    border-bottom: 1px  solid white;
    background: none;
    margin:3%;
}


input:focus{
    outline: none;
}
#submit{
    width: 30%;
    color:white;
    border: 1px solid #ffffff;
    margin: 10px;
}
#contact-details{
    width: 50%;
    /* border: 1px solid black; */
}
.details{
    margin: 1%;
    width: 70%;
}
.details div{
    text-align: justify;
    font-size: small;
}
#contact #name-social-container{
    height: 10px;
}

